/taskcluster-worker
/taskcluster-worker.exe
/.vagrant
coverage.out
/.bash_history
/engines/qemu/test-image/tinycore-setup.tar.zst
/engines/qemu/test-image/tinycore-worker.tar.zst
/mock-config.yml
/qemu-config.yml
/vendor/*/
/config.env
/examples/ubuntu-image/cache/
