[Unit]
Description=QEMU guest tools for taskcluster-worker
After=docker.service
Requires=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/taskcluster-worker qemu-guest-tools

[Install]
WantedBy=multi-user.target
